@charset "UTF-8";

@font-face{
    font-family: 'Hacker Fonte';
     /*src: url(../fontes/Cracked\ Code.ttf) format(truetype);*/
    src: url(../fontes/Weird\ Words\ DEMO.otf) format(opentype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hacker Fonte 2';
    src: url(../fontes/Cracked\ Code.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

header{
    background-image: linear-gradient(to bottom, green, #284228);
    border-radius: 5px;
}

header h1{
    font-family: 'Hacker Fonte 2', cursive;
    text-align: center;
    font-size: 4em;
}

header p{
    font-family: 'Hacker Fonte', cursive;
    text-align: center;
}

main{
    background-color: #bbe676;
    border-radius: 5px;
    margin: 20px;
    padding: 10px 10px 5px 10px;
   
}

main h1{
    background-image: linear-gradient(to right, #02fd0270, transparent);
    font-family: 'Hacker Fonte 2', cursive;
    text-align: center;
}

main h2{
    text-align: center;
    background-image: linear-gradient(to right, #02fd0270, transparent);
    font-family: 'Hacker Fonte 2', cursive;
    color: #0a520a;
}

main p{
    font-size: 1.5em;
    line-height: 1.5em;
}

main strong{
    font-style: italic;
    font-weight: bolder;
}

main img{
    width: 100%;
}

main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

main aside{
    background-color: #4b691d;
    border-radius: 5px;
    margin: 20px 10px;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: 2px 2px 2px 2px #0000002d;
}

main aside h3{
    background-image: linear-gradient(to right, #65921d, transparent);
    font-family: 'Hacker Fonte 2', cursive;
}

main aside ul{
    background-color: #73a81d;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    list-style-type: square;
    list-style-position: inside;
    font-size: 1.2em;
}

footer{
    background-color: green;
}

footer p{
    text-align: center;
    font-weight: bolder;
}
